html{
    width: 100%;
    height: 100%;
}

body {
    background: url("../pictures/copyright-free background.jpg") no-repeat;
    background-size: 100% 100%;
}

.clock {
    background: #0053AE;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid #F2CC00;
    padding: 10px;

    color: burlywood;
}