<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cool clock 😎</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/whatsapp/273/mantelpiece-clock_1f570-fe0f.png">
</head>
<body>
<div class="clock">
    <h1>It is currently {{ current_time }} in Moscow</h1>
    <h2>(It only gets refreshed on the page load)</h2>
    <br>
    <h3>by Vitaliy Korbashov, BS18-SE-01</h3>
</div>
</body>
</html>